*{
    padding: 0;
    margin: 0;}
ul,li{
    list-style: none;
}
.slider-wrapper{
    width:500px;
    height:500px;
    margin:30px auto;
    position: relative;
    border:1px solid red;
    overflow: hidden;
}
.sliders{
    position: absolute;
}
.sliders .slider{
    float:left;
    width:500px;
    height:500px;
}
.sliders .slider img{
    width:100%;
    height:100%;
}
.arrows{
    position: absolute;
    width:100%;
    top:50%;
    margin-top:-20px;
}
.arrows .arrow{
    width:40px;
    height:40px;
    text-align: center;
    line-height: 40px;
    font-weight: bold;
    background-color: #EEE;
    cursor: pointer;
}
.arrows .arrow:hover{
    background-color: #CCC;
}
.arrows .arrow:nth-child(1){
    float:left;
    margin-left:5px;
}
.arrows .arrow:nth-child(2){
    float:right;
    margin-right:5px;
}
.dots{
    position: absolute;
    bottom:20px;
    width:100%;
    text-align: center;
    height:20px;
}
.dots .dot{
    display:inline-block;
    width:20px;
    height:20px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #EEE;
    margin-left:10px;
}
.dots .dot.active{
    background-color: red;
}
.dots .dot:hover{
    background-color: #CCC;
}
